@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth ;
    scroll-margin-top: 135px;
}

body {
    min-width: 320px;
    max-width: 6144px;
    background-color: #F1D7FF94;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    flex-wrap: wrap;
    margin-top: 70px;
}

.logo {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #ffffff;
    text-shadow: 2px 2px black;
    text-decoration: none;
    /* text-transform: uppercase; */

    padding: 0;
}


.header-1 {
    background-color: #e9c2d0;
    padding: 5px;
    min-width: 300px;
    max-width: 6144px;
    width: 100%;    
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

 .header-1 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.nav-list {
    min-width: 300px;
    max-width: 1000px;
    display: flex;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    margin: 8px;
    background-color: #fff;
    transition: 0.3s;
}

/* Tamanho do celular - menu hambúrguer */

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
      }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 10vw;
        height: 92vh;
        background: #e9c2d0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        position: fixed;
      }
    
      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* Fim */

.nav-list li {
    list-style-type: none;
    padding: 10px;
    margin-left: 32px;
}

.nav-list a {
    text-decoration: none;
    color: #FFF8FB;
    padding: 10px;
    border-radius: 14px;
    /* background-color: #FFF8FB; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#verde {
    color: #000000;
}

#verde:hover {
    background-color: rgb(76, 181, 19);
    color: #FFF8FB;
    transition: 0.7s all;
    border-radius: 7px;
}

#azul {  
    color: rgb(0, 0, 0);
}

#azul:hover {
    background-color: rgb(17, 48, 223);
    color: #FFF8FB;
    transition: 0.7s all;
    border-radius: 7px;
}

#amarelo {
    color: rgb(0, 0, 0);
}

#amarelo:hover {
    background-color: #FFEF00;
    color: #202020;
    transition: 0.7s all;
    border-radius: 7px;
}

#vermelho {
    color: rgb(0, 0, 0);
}

#vermelho:hover {
    background-color: rgb(179, 50, 43);
    color: #FFF8FB;
    transition: 0.7s all;
    border-radius: 7px;
}

#preto {
    color: rgb(19, 19, 19);
}

#preto:hover {
    background-color: rgb(20, 20, 20);
    color: #FFF8FB;
    transition: 0.7s all;
    border-radius: 7px;
}

/* main content */

main {
    min-width: 320px;
    max-width: 6144px;
}


.title{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;  

    color: #AD60D7  ;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

#main-title h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;  

    color: #ba69e6  ;
    display: flex;
    justify-content: center;
    margin: 20px;

    min-width: 320px;
    max-width: 6144px;
    width: 100% auto;
}

.section-1{
    margin: 20px;
    color: #202020;
    display: flex;
    justify-content: center;
}


.section-h2 {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #202020; 
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.section-h2-h3 {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #643F76; 
    display: flex;
    align-items: center;
    flex-direction: column;
}


.section-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #202020;
    padding: 30px;
}

.destaque {
    color: #ce5cca;
}

/* Cores */

.container-cor {
    padding: 50px;
    margin: 20px 40px 40px 40px;
    border-radius: 20px;
    display: center;
    justify-content: center;
    align-items: center;
}
.container-cor h1 {
    display: flex;
    justify-content: center;
}

.container-cor p {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#container-verde {
    /* margin: 20px; */
    background-color: green;
    color: #fff;
}

#esperanca {
    width: 300px;
    align-items: center;
    margin-left: 50px;
}


div.video-cor {
    background-color: #643F76;
    margin: 0 0 30px 0;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
    margin-bottom: 100px;
}

div.video-cor > iframe {
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left:10%;
    width: 80%;
    height: 80%;
}

#container-azul {
    background-color: rgb(55, 85, 149);
    color: #fff;
}


.personagens {
    display: flex;
    justify-content: space-around;
    min-width: 100px;
    max-width: 6000px;
    flex-wrap: wrap;
}

#triste-left {
    width: 300px;
}

#triste-rigth {
    width: 300px;
}

#container-amarela {
    background-color: #FFEF00;
    color: #272727;
}

#feliz {
    width: 310px;
}

#container-vermelho {
    background-color: rgb(190, 46, 46);
    color: #fff;
}

#raiva {
    width: 300px;
}

#container-preto {
    background-color: #202020;
    color: #fff;
}

#medo {
    width: 300px;
}

/* Resto da página */

#integrantes {
    display: flex;
    justify-content: center;
    color: #2a2e38;
}

/* Rodapé */
/* footer {
    background-color: #e9c2d0;
    color: #202020;
    padding: 20px 0;
    text-align: center;
    min-width: 350px;
    max-width: 6144px;
    width: 100%;
    position: absolute;
    bottom: 1;
} */