@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth ;
}

body {
    min-width: 320px;
    max-width: 6144px;
    background-color: #F1D7FF94;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    flex-direction: wrap;
    margin-top: 100px;
}

.logo {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #e6e6e6;
    text-shadow: 2px 2px black;
    text-decoration: none;
    text-transform: uppercase;

    padding: 0;
}


.header-1 {
    background-color: #e9c2d0;
    padding: 5px;
    min-width: 300px;
    max-width: 6144px;
    width: 100%;    
    top: 0;
    position: fixed;
}

 .header-1 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.nav-list {
    min-width: 300px;
    max-width: 1000px;
    display: flex;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    margin: 8px;
    background-color: #fff;
    transition: 0.3s;
}

/* Tamanho do celular - menu hambúrguer */

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
      }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 10vw;
        height: 92vh;
        background: #e9c2d0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        position: fixed;
      }
    
      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* Fim */

.nav-list li {
    list-style-type: none;
    padding: 10px;
    margin-left: 32px;
}

.nav-list a {
    text-decoration: none;
    color: #FFF8FB;
    padding: 10px;
    border-radius: 15px;
    background-color: #FFF8FB;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#verde {
    color: green;
}

#verde:hover {
    background-color: rgb(76, 181, 19);
    color: #FFF8FB;
    transition: 0.7s all;
    border-radius: 7px;
}

#azul {  
    color: blue;
}

#azul:hover {
    background-color: rgb(17, 48, 223);
    color: #FFF8FB;
    transition: 0.7s all;
    border-radius: 7px;
}

#amarelo {
    color: rgb(215, 218, 22);
}

#amarelo:hover {
    background-color: rgb(208, 210, 54);
    color: #FFF8FB;
    transition: 0.7s all;
    border-radius: 7px;
}

#vermelho {
    color: red;
}

#vermelho:hover {
    background-color: rgb(179, 50, 43);
    color: #FFF8FB;
    transition: 0.7s all;
    border-radius: 7px;
}

#preto {
    color: rgb(19, 19, 19);
}

#preto:hover {
    background-color: rgb(20, 20, 20);
    color: #FFF8FB;
    transition: 0.7s all;
    border-radius: 7px;
}

/* main content */

main {
    min-width: 320px;
    max-width: 6144px;
}


.title{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;  

    color: #74428F  ;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.section-1 {
    margin: 20px;
    color: #74428F;
    display: flex;
    justify-content: center;
}


.section-1 h2 {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: #AD60D7; 
    display: flex;
    justify-content: center;
}

.section-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #643F76;
}